[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "*"
ansible-lint = "*"
molecule = "*"
molecule-vagrant = "*"
python-vagrant = "*"
black = "*"

[requires]
python_version = "3"

[pipenv]# For Black
allow_prereleases = true
